alias c='clear'
alias vi='gvim'
alias vim='gvim'
alias klee29='/home/sdasgup3/Work/klee.2.9/Release+Asserts/bin/klee'
alias klee34='/home/sdasgup3/Work/klee.3.4/Release+Asserts/bin/klee'
alias clang29='/home/sdasgup3/llvm/llvm-2.9/Release+Asserts/bin/clang'
alias clang34='/home/sdasgup3/Documents/llvm/llvm.obj/Release+Asserts/bin/clang'
alias llvm-link34='/home/sdasgup3/Documents/llvm/llvm.obj/Release+Asserts/bin/llvm-link'
alias llvm-link29='/home/sdasgup3/llvm/llvm-2.9/Release+Asserts/bin/llvm-link'
alias time='/usr/bin/time -p'
alias gitc='/home/sdasgup3/Programming/Scripting/Bash/gitc.sh'
#alias klee='/home/sdasgup3/Documents/klee-zesti/klee.obj/Release+Asserts/bin/klee'
#alias iklee='/home/sdasgup3/Documents/klee-zesti/iklee.obj/Release+Asserts/bin/iklee'
#alias zesti='/home/sdasgup3/Documents/klee-zesti/zesti.obj/Release+Asserts/bin/klee --zest'
alias julia='/home/sdasgup3/Install/julia/julia'
alias cc='/usr/bin/gcc'
alias infopl="/home/sdasgup3/Github/binary-decompilation/x86-semantics/scripts/infonum.pl"
alias idea="/home/sdasgup3/Install/idea-IC-172.4343.14/bin/idea.sh"
