alias c='clear'
alias vi='gvim'
alias vim='gvim'
alias klee29='/home/sdasgup3/Work/klee.2.9/Release+Asserts/bin/klee'
alias klee34='/home/sdasgup3/Work/klee.3.4/Release+Asserts/bin/klee'
alias clang29='/home/sdasgup3/llvm/llvm-2.9/Release+Asserts/bin/clang'
alias clang34='/home/sdasgup3/Documents/llvm/llvm.obj/Release+Asserts/bin/clang'
alias llvm-link34='/home/sdasgup3/Documents/llvm/llvm.obj/Release+Asserts/bin/llvm-link'
alias llvm-link29='/home/sdasgup3/llvm/llvm-2.9/Release+Asserts/bin/llvm-link'
alias time='/usr/bin/time -p'
alias gitc='/home/sdasgup3/Programming/Scripting/Bash/gitc.sh'
#alias klee='/home/sdasgup3/Documents/klee-zesti/klee.obj/Release+Asserts/bin/klee'
#alias iklee='/home/sdasgup3/Documents/klee-zesti/iklee.obj/Release+Asserts/bin/iklee'
#alias zesti='/home/sdasgup3/Documents/klee-zesti/zesti.obj/Release+Asserts/bin/klee --zest'
alias julia='/home/sdasgup3/Install/julia/julia'
alias cc='/usr/bin/gcc'
alias infopl="/home/sdasgup3/Github/binary-decompilation/x86-semantics/scripts/infonum.pl"
alias idea="/home/sdasgup3/Install/idea-IC-172.4343.14/bin/idea.sh"
alias sc="/home/sdasgup3/Github/strata/stoke/bin/stoke_debug_circuit"
alias sf="/home/sdasgup3/Github/master_stoke/bin/stoke_debug_formula"
alias hc="/home/sdasgup3/Github/strata/stoke/bin/stoke_which_handler"
alias hf="/home/sdasgup3/Github/master_stoke/bin/stoke_which_handler"
alias ssh="ssh -X"
alias g="gcc -m64 -march=haswell -fno-asynchronous-unwind-tables"
alias worddiff="git diff --word-diff=porcelain | awk -v red=\"$(tput setaf 1)\" -v green=\"$(tput setaf 2)\" -v reset=\"$(tput sgr0)\" -f ~/scripts-n-docs/scripts/bash/worddiff.awk"
alias gitc="git commit -am \"update\""
alias gits="git status"
alias gitd="git d"
alias xed="/home/sdasgup3/Github/xed/obj/examples/xed"
